################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SAR.NHibernate.MPOracleManagedDriver/bin/Debug/netcoreapp2.2
